<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SlanjeFakture.Properties.Settings.AppBazaConnectionString"
            connectionString="Data Source=DESKTOP-JGAF75M;Initial Catalog=AppBaza;Integrated Security=True"
            providerName="System.Data.SqlClient" />


		<!--DESKTOP-JGAF75M  moj-->

		<!--DESKTOP-D6L8MFD-->
	
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>


